<div data-ng-include="'templates/sidenav.html'"></div>
<div class="container-fluid background">
    <div data-ng-include="'templates/topnav.html'"></div>
    <div class="subheader row">
        <h6>Mina Uppgifter</h6>
    </div>
    <!--Repeat per thingy-->
    <div class="col-md-6"> 
        <div class="card">
            <h4>[Uppgiftstyp]: [Kurs]</h4>
            <h6>Datum: [Datum]</h6>
            <div>
                <h6>Information</h6>
                <p>Massor med information</p>
            </div>
        </div>
    </div>
</div>