<div data-ng-include="'templates/sidenav.html'"></div>
<div ng-init="showMyTodo()" class="container-fluid background">
    <div data-ng-include="'templates/topnav.html'"></div>
    <div class="subheader row">
        <h4>Inlämningsuppgifter</h4>
    </div>
    <!--Repeat per thingy-->
    <div class="col-md-6" ng-repeat="task in todo">
        <div class="card">

            <h4>{{task.course_name}}</h4>
            <h4>Beskrivning</h4>: {{task.task_describe}}<br> Datum:{{task.task_time}}
            <h4>{{task.final_info}}</h4>: {{task.final_describe}}

        </div>
    </div>
</div>