<div data-ng-include="'templates/sidenav.html'"></div>
<div class="container-fluid background">
    <div data-ng-include="'templates/topnav.html'"></div>
    <div class="subheader row">
        <h6>Mina Kurser</h6>
    </div>
    <div class="col-md-6">
        <div class="card">
            <h4>Pågående</h4>
            <table>
                <tr ng-repeat="x in rootCourses" ng-if="x.course_status == 'Aktiv'">
                    <td ><a ng-click="getobject(x)" href="#!/selectedcourse"> {{x.course_name}} </a></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <h4>Kommande</h4>
            <table>
                <tr ng-repeat="x in rootCourses" ng-if="x.course_status == 'Kommande'">
                    <td><a ng-click="getobject(x)" href="#!/selectedcourse"> {{x.course_name}} </a></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <h4>Avslutade</h4>
            <table>
                <tr ng-repeat="x in rootCourses" ng-if="x.course_status == 'Avslutad'">
                    <td><a ng-click="getobject(x)" href="#!/selectedcourse"> {{x.course_name}} </a></td>
                    <td>G</td>
                </tr>
            </table>
        </div>
    </div>
</div>