<div data-ng-include="'templates/sidenav.html'"></div>
<div class="container-fluid background">
    <div class="row blackWithWhite onTop">
        <div class="col-xs-2">
            <img class="logotype-nav" data-ng-src="../schooldata/{{data.logo}}">
        </div>
        <div class="col-xs-8">
            <h1>{{data.name}}</h1>
        </div>
        <div class="col-xs-2">
            <img ng-click="sidebarMenu()" id="sidebar-btn" src="schooldata/hamburger.png"></img>
        </div>
    </div>
    <div class="subheader row">
        <h6>Mina Kurser</h6>
    </div>
    <div class="col-md-6">
        <div class="card">
            <h4>Pågående</h4>
            <table>
                <tr ng-repeat="x in rootCourses" ng-if="x.course_status == 'Aktiv'">
                    <td><a href="#!/selectedcourse"> {{x.course_name}} </a></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <h4>Kommande</h4>
            <table>
                <tr ng-repeat="x in rootCourses" ng-if="x.course_status == 'Kommande'">
                    <td><a href="#!/selectedcourse"> {{x.course_name}} </a></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <h4>Avslutade</h4>
            <table>
                <tr ng-repeat="x in rootCourses" ng-if="x.course_status == 'Avslutad'">
                    <td><a href="#!/selectedcourse"> {{x.course_name}} </a></td>
                    <td>G</td>
                </tr>
            </table>
        </div>
    </div>
</div>