<div data-ng-include="'templates/sidenav.html'"></div>
<div ng-init="showMyCourses()" class="container-fluid background">
	<div data-ng-include="'templates/topnav.html'"></div>
	<div class="subheader row">
		<h6>Välkommen {{rootData.user_name}}!</h6>
	</div>
	<div class="col-md-6">

		<div class="card">
			<h4>Pågående</h4>
			<table>
				<tr ng-repeat="x in rootCourses" ng-if="x.course_status == 'Aktiv'">
					<td><a ng-click="getobject(x)" href="#!/selectedcourse"> {{x.course_name}} </a></td>
				</tr>
			</table>
		</div>

		<div class="card">
			<h4>Öppethus 14/8</h4>
			<p>Öppethus på testvägen 12</p>
		</div>
	</div>
	<div class="col-md-6">
		<div class="card">
			<h4> Detta är ett till kort, {{rootData.first_name}}!</h4>
			<p> Här kan man skriva en massa trevlig info!</p>
		</div>
	</div>
</div>