<div id="sidebar" ng-click="sidebarMenu()">
	<ul>
		<li class="someSpace"><a href="#!/courses">Kurser</a></li>
		<li class="someSpace"><a href="#!/grades">Betyg</a></li>
		<li><a href="#!/">Signout</a></li>
	</ul>
</div>
<div ng-init="showMyCourses()" class="container-fluid background">
	<div class="row blackWithWhite onTop">
		<div class="col-xs-2">
			<img class="logotype-nav" data-ng-src="../schooldata/{{data.logo}}">
		</div>
		<div class="col-xs-8">
			<h1>{{data.name}}</h1>
		</div>
		<div class="col-xs-2" >
			
			<img ng-click="sidebarMenu()" id="sidebar-btn" src="schooldata/hamburger.png"></img>
		</div>
	</div>
	<div class="subheader row">
		<h6>Välkommen {{rootData.username}}!</h6>
	</div>
	<div class="col-md-6">

		<div class="card">
			  <strong>Pågående</strong>
                <ul>
                <li ng-repeat="x in rootCourses">
                  <span ng-if="x.course_status == 'Aktiv'">
                    <br> {{x.course_name}} <br>
                  </span>
                </li>
                </ul>
		</div>

		<div class="card">
			<h4>Öppethus 14/8</h4>
			<p>Öppethus på testvägen 12</p>
		</div>
	</div>
	<div class="col-md-6">
		<div class="card">
			<h4> Aktiva kurser: {{rootData.firstname}}</h4>
			<p ng-repeat="x in rootCourses">
				{{ x.course_name }}
			</p>
		</div>
	</div>
</div>