<div data-ng-include="'templates/sidenav.html'"></div>
<div ng-init="showMyGrades()" class="container-fluid background">
    <div data-ng-include="'templates/topnav.html'"></div>
    <div class="subheader row">
        <h6>Mina Betyg</h6>
    </div>
    <div class="col-md-6">
        <div class="card" ng-repeat="x in grades">

            <h4 class="courseGradeName">{{x.course_name}}</h4>

            <span ng-if="x.result_coursestatus == 'Avslutade'">
                    {{x.result_coursegrade}}
              </span>
            <table>
                <tr ng-if="x.final_info.length > 0">
                    <td>{{x.final_info}}: </td>
                    <td>{{x.result_final}}</td>
                </tr>
                <tr ng-if="x.exam_info.length > 0">
                    <td>{{x.exam_info}}: </td>
                    <td>{{x.result_exam}}</td>
                </tr>
                <tr ng-if="x.task_info.length > 0">
                    <td>{{x.task_info}}: </td>
                    <td>{{x.result_task}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>