    <div class="container-fluid background">
        <div class="row">
            <img class="logotype" src="http://placehold.it/150x70">
        </div>
        <div class="row">
            <h1>Welcome to Agile Learning Portal!</h1>
        </div>
        <div class="row">
            <div class="col-xs-1 col-md-4"></div>
            <div class="col-xs-10 col-md-4">
                <div class="loginForm">
                    <input></input>
                    <input type="password"></input>
                    <input type="submit" class="loginButton"></input>
                </div>
            </div>
            <div class="col-xs-1 col-md-4"></div>
        </div>
        <div class="row footer">
            <div class="col-xs-4">
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="col-xs-4">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ne.</p>
            </div>
            <div class="col-xs-4">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursu.</p>
            </div>
        </div>
    </div>