<div id="sidebar" ng-click="sidebarMenu()">
	<ul>
		<li class="someSpace"><a href="#!/courses">Kurser</a></li>
		<li><a href="#/">Signout</a></li>
	</ul>
</div>
<div class="container-fluid background">
	<div class="row blackWithWhite onTop">
		<div class="col-xs-2">
			<img class="logotype-nav" data-ng-src="../schooldata/{{data.logo}}">
		</div>
		<div class="col-xs-8">
			<h1>{{data.name}}</h1>
		</div>
		<div class="col-xs-2">

			<img ng-click="sidebarMenu()" id="sidebar-btn" src="schooldata/hamburger.png"></img>
		</div>
	</div>
	<div class="subheader row">
		<h6>Välkommen {{rootData.username}}!</h6>
	</div>
	<div class="col-md-6">
		<div class="card">
			<h4>Kursinfo</h4>
			<p>
				I denna kurs får studenten lära sig arbeta med agila metoder i utvecklingsprojekt. Kursen har ett fokus på agil applikationsutveckling
				men kursen tar även upp andra metoder för applikationsutveckling.
			</p>
		</div>
	</div>
	<div class="col-md-6">
		<div class="card">
			<h4>Schema</h4>
			<table>
				<tr>
					<td>Fredag</td>
					<td>Förläsning</td>
				</tr>
				<tr>
					<td>Måndag</td>
					<td>Studiedag</td>
				</tr>
				<tr>
					<td>Tisdag</td>
					<td>Tenta</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="col-md-6">
		<div class="card">
			<h4>Dina resultat</h4>
			<table>
				<tr>
					<td>Tenta 1</td>
					<td>G</td>
				</tr>
			</table>
		</div>
	</div>
</div>