<div data-ng-include="'templates/sidenav.html'"></div>
<div ng-init="showCourseInfo()" class="container-fluid background">
	<div data-ng-include="'templates/topnav.html'"></div>
	<div class="subheader row">
		<h6>Välkommen till kursen {{chosenObject.course_name}}!</h6>
	</div>
	<div class="col-md-6">
		<div class="card">
			<h4>Kursinfo</h4>
			<p>
				{{chosenObject.course_describe}}
			</p>
			<strong>Lärare:</strong> {{chosenObject.course_teacher}}
		</div>
	</div>
	<div class="col-md-6">
		<div class="card">
			<h4>Schema</h4>

			<table id="schedule" ng-if="rootSchedule">
				<tr>
					<th>Datum</th>
					<th>Tid</th>
					<th>Moment</th>
				</tr>
				<tr ng-repeat="x in rootSchedule">
					<td>
						{{x.schedule_date}}
					</td>
					<td>
						{{x.schedule_time}}
					</td>
					<td>
						{{x.schedule_moment}}
					</td>
			</table>

		</div>
	</div>
	<div class="col-md-6">
		<div class="card">
			<h4>Examinationmoment</h4>
			<div ng-repeat="x in homework">
				<p ng-if="x.final_info">{{ x.final_info }}<br></p>
				<p ng-if="x.exam_info">{{ x.exam_info }}<br></p>
				<p ng-if="x.task_info">{{ x.task_info }}<br></p>
			</div>
		</div>
	</div>
</div>
</div>