<div id="sidebar" ng-click="sidebarMenu()">
	<ul>
		<li class="someSpace"><a href="#!/dashboard">Hem</a></li>
		<li class="someSpace"><a href="#!/courses">Kurser</a></li>
		<li class="someSpace"><a href="#!/assignments">Uppgifter</a></li>
		<li class="someSpace"><a href="#!/grades">Betyg</a></li>
		<li class="someSpace"><a href="#!/attendance">Närvaro</a></li>
		<li class="someSpace"><a href="#!/evaluation">Utvärdering</a></li>
		<li ng-click="logout()"><a href="#!/">Logga ut</a></li>
		<!--<li><a ng-click="resetTheFeedback()">Reset Feedback</a></li>-->
	</ul>
</div>