@media (min-width: 768px) {
    .smileyDiv i {
        padding-left: 30px;
    }
    h1 {
        font-size: 30px;
    }
}

@media (min-width: 1200px) {
    h1 {
        font-size: 40px;
    }
}

/* iPhone 4 & 5*/
@media(max-width: 320px) {
    #logotype {
        width: 20vh;
    }
}