

.pane{
   background: #3a7bd5 ; /* For browsers that do not support gradients */
   background: -webkit-linear-gradient(#FF8008, #2F80ED); /* For Safari 5.1 to 6.0 */
   background: -o-linear-gradient(#FF8008, #3a7bd5); /* For Opera 11.1 to 12.0 */
   background: -moz-linear-gradient(#FF8008, #3a7bd5); /* For Firefox 3.6 to 15 */
   background: linear-gradient(#FFC837, #FF8008); /* Standard syntax */
}

.background {
    height: 100vh;
    width: 100vw;
    text-align: center;
}

h1 {
    font-size: 25px;
}

.loginForm input {
    margin: 1px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.onTop{
    padding: 10px;
    font-size: 10px;
    word-wrap: break-word;
    position: static;
    top: 0;
    height: fit-content;
    width: 100vw;

}

.blackWithWhite {
    background-color: #444;
    color: white;
}

.footer {
    padding: 10px;
    font-size: 10px;
    text-align: left;
    word-wrap: break-word;
    position: absolute;
    bottom: 0;
    height: 25vh;
    width: 100vw;
}

.logotype{
    border: 1px solid black;
    margin: 5px;
}

.subheader{
    border-bottom: solid;
    background-color: white;
}

.card{
    border:solid;
    background-color: white;
    width: 50%;
    margin: 0 auto;
    margin-top: 40px;
    height: 200px;
    border-radius: 25px;
}